{% load static %}
<html>
    <head>
        <title>Welcome to Mini Faceook!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <header>
            <h1>Welcome to Mini Facebook!</h1>

            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">View All Profiles</a></li>
                    <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
                </ul>
                {% if user.is_authenticated%}
                    <p>Logged in as: {{ user.username }}</p>
                    {% if user.profile and not user.is_staff%}
                        <a href="{% url 'show_profile' %}">My Profile</a>
                    {% endif %}
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

    </body>
</html>