{% extends 'mini_fb/base.html' %}

{% block title %}All Profiles{% endblock %}

{% block content %}
    <h2>All Profiles</h2>
    <table>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>
                    <a href="{% url 'show_profile' pk=profile.pk %}">
                        {{ profile.first_name }} {{ profile.last_name }}
                    </a>
                </td>
                <td>{{ profile.city }}</td>
                <td>
                    <a href="{% url 'show_profile' pk=profile.pk %}">
                        <img src="{{ profile.profile_image_url }}" alt="Profile Image" style="width: 50px; height: auto;">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}