{% extends 'mini_fb/base.html' %}

{% block title %}{{ profile.first_name }} {{ profile.last_name }}{% endblock %}

{% block content %}
    <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>

    <table>
        <tr>
            <th>Profile Image:</th>
            <td><img src="{{ profile.profile_image_url }}" alt="Profile Image" style="width: 200px; height: auto;"></td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ profile.email }}</td>
        </tr>
    </table>

    {% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'news_feed' %}">View News Feed</a>
    {% endif %}

    <h3>Status Messages</h3>
    <ul>
        {% for status in profile.get_status_messages %}
        <div class="status-message">
            <p><strong>Message:</strong> {{ status.message }}</p>
            <p><strong>Posted on:</strong> {{ status.timestamp }}</p>

            <!-- load in images if theyre there -->
            {% if status.get_images %}
                <div class="status-images">
                    {% for img in status.get_images %}
                        <img src="{{ img.image.url }}" alt="Image for status" style="max-width: 300px;">
                    {% endfor %}
                </div>
            {% endif %}

            {% if user.is_authenticated and user == profile.user %}

            <a href="{% url 'update_status' %}">Update</a>
            <a href="{% url 'delete_status' %}">Delete</a>

            {% endif %}

        </div>
        {% empty %}
        <p>No status messages found.</p>
        {% endfor %}
    </ul>

    <h2>Friends:</h2>
    <ul>
      {% for friend in profile.get_friends %}
        <li>
          <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
        </li>
      {% empty %}
        <li>No friends yet.</li>
      {% endfor %}
    </ul>

    {% if user.is_authenticated and user == profile.user %}
    
        <a href="{% url 'friend_suggestions'%}">Find Friend Suggestions</a>

        <h3>Post a New Status</h3>
        <a href="{% url 'create_status' %}">Post a Status</a>

        <h3>Update Profile</h3>
        <a href="{% url 'update_profile'%}">Update Profile</a>
    {% endif %}

{% endblock %}