body {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column; 
    background-color: lavenderblush;
    color: slateblue;
}


div {
    color: slategray;
    border: 2px solid darkblue;
    padding: 10px;
    margin: 25px;
}

table {
    border: 1px solid #ffffcc;
}

td {
    border: 1px solid #dad3f6;
    text-align: center;
}

p {
    max-width: 600px; 
    margin: 0 auto; 
    line-height: 1.6;
    text-align: justify; 
    padding: 10px 0; 
}